<!--
  Generated template for the EditGamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>New Game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="!report && myActiveReports">
    <div *ngIf="myActiveReports.length > 0">
      <ion-item>
        <ion-label>Select report</ion-label>
        <ion-select [(ngModel)]="report" (ionChange)="initialize()" submitText="Okay" cancelText="Cancel">
          <ion-option *ngFor="let r of myActiveReports" [value]="r">
            {{r.player.name}} ({{r.startDate | date:"dd.MM."}} - ...)
          </ion-option>
        </ion-select>
      </ion-item>
      <p class="primary-text" text-center>
        You have to select player report first to begin game scouting.
      </p>
    </div>

    <p class="primary-text" text-center *ngIf="myActiveReports.length == 0">
      You don't have any report. 
      <br>
      <br>
      <br>
      <span style="text-decoration: underline" (click)="goBack()">Go back</span>
    </p>
  </div>

  <div *ngIf="report">
    <ion-card class="player-card">
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <img [src]="'assets/imgs/player/' + report.player.imgName + '.png'" />
          </ion-col>
          <ion-col col-8>
            <div class="player-info">
              <div class="details">{{report.player.name}}</div>
              <div class="details">vs {{game.opponent}}</div>
            </div>
          </ion-col>
          <ion-col col-2>
            <button style="background: none; border: none" (click)="toggleGameForm()">
              <i class="material-icons md-36 md-primary">
                  &#xe5cf;
              </i>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card [formGroup]="gameForm" *ngIf="gameFormVisible">

      <ion-card-content>
        <ion-list padding-bottom>
          <ion-item>
            <ion-label fixed>Opponent</ion-label>
            <ion-input type="text" formControlName="opponent"></ion-input>
          </ion-item>
        </ion-list>
        <ion-list padding-bottom>
          <ion-item>
            <ion-label fixed>Competition</ion-label>
            <ion-input type="text" formControlName="competition"></ion-input>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item>
            <ion-label style="display: flex; align-items: center; justify-content: space-between">
              Date
              <i class="material-icons md-primary"> &#xe916;</i>
            </ion-label>
            <ion-datetime displayFormat="D.MM.YYYY." pickerFormat="D.MM.YYYY." formControlName="date"></ion-datetime>
          </ion-item>
        </ion-list>
      </ion-card-content>

      <!-- <ion-row no-padding>
                <ion-col text-right>
                  <button ion-button clear small color="primary" icon-start (click)="saveGameInfo()" >
                    <ion-icon name="share-alt"></ion-icon>
                    Save
                  </button>
                </ion-col>
              </ion-row> -->


    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col *ngFor="let effect of generateStatsForView(1)">
              <button class="stat-btn height-60em" (click)="increaseEffectValue(effect)">
                <div class="stat-img size-50em">
                  <ion-badge item-end style="margin-left: 1em" *ngIf="effect.value > 0">{{effect.value}}</ion-badge>
                  <img [src]="'assets/imgs/game/' + effect.statistics + '.png'" class="size-45em">
                </div>
                <ion-badge>{{effect.statistics}}</ion-badge>
              </button>
            </ion-col>
          </ion-row>

          <ion-row margin-top>
            <ion-col col-3 *ngFor="let effect of generateStatsForView(2)">
              <button class="stat-btn height-50em" (click)="increaseEffectValue(effect)">
                <div class="stat-img size-40em">
                  <ion-badge item-end style="margin-left: 1em" *ngIf="effect.value > 0">{{effect.value}}</ion-badge>
                  <img [src]="'assets/imgs/game/' + effect.statistics + '.png'" class="size-35em">
                </div>
                <ion-badge style="overflow-wrap: break-word">{{ getShortEffectTitle(effect.statistics)}}</ion-badge>
              </button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col col-6 *ngFor="let effect of generateStats(['lost ball','bad control'])">
            <button class="stat-btn height-50em" (click)="increaseEffectValue(effect)">
              <div class="stat-img size-40em">
                <ion-badge item-end style="margin-left: 1em" *ngIf="effect.value > 0">{{effect.value}}</ion-badge>
                <img [src]="'assets/imgs/game/' + effect.statistics + '.png'" class="size-35em">
              </div>
              <ion-badge>{{effect.statistics}}</ion-badge>
            </button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row *ngFor="let effect of generateSpecificStats()" class="spec-stat">
            <ion-col col-4>
              <button class="spec-stat-btn" (click)="increaseEffectValue(effect.positive)">
                <div class="thumb">
                  <ion-badge color="secondary" class="positive-badge">{{effect.positive.value}}</ion-badge>
                  <i class="material-icons md-primary md-48">
                      &#xe8dc;
                  </i>
                </div>
              </button>
            </ion-col>
            <ion-col col-4>
              <div class="stat-btn">
                <div class="stat-img">
                  <img src="assets/imgs/game/specific.png" class="size-35em">
                </div>
                <ion-badge style="margin-top: -1em; z-index: 100">{{effect.title | uppercase}}</ion-badge>
              </div>
              <!-- <ion-badge color="primary">{{effect.title}}</ion-badge> -->
            </ion-col>
            <ion-col col-4>
              <button class="spec-stat-btn" (click)="increaseEffectValue(effect.negative)">
                <ion-badge color="primary" class="negative-badge">{{effect.negative.value}}</ion-badge>
                <div class="thumb">
                  <i class="material-icons md-secondary md-48">
                      &#xe8db;
                  </i>
                </div>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <div style="display: flex; justify-content: center; align-items: center; margin-top: 1em">
        <b style="font-size: 1em" class="primary-text">Minutes played ({{ minutes }})</b>
      </div>
      <ion-item style="background: none">
        <ion-range min="0" max="90" step="1" [(ngModel)]="minutes" color="primary">
          <b class="primary-text" range-left>0</b>
          <b class="primary-text" range-right>90</b>
        </ion-range>
      </ion-item>
    </ion-list>

    <ion-list>
      <div style="display: flex; justify-content: center; align-items: center; margin-top: 1em">
        <b style="font-size: 1em" class="primary-text">Rating ({{ (rating/10).toFixed(2) }})</b>
      </div>
      <ion-item style="background: none">
        <ion-range min="0" max="100" step="1" [(ngModel)]="rating" color="primary">
          <ion-icon range-left small name="stats" color="primary"></ion-icon>
          <ion-icon range-right name="stats" color="primary"></ion-icon>
        </ion-range>
      </ion-item>
    </ion-list>

    <button ion-button block outline (click)="saveGame()">SAVE GAME</button>
  </div>

</ion-content>